.editor-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.editors {
    border-bottom: 1px black solid;
    padding: 1em;
    margin: 1em;
    font-size: 90%;
  }
.dialog-text {
    padding: 0em 2em 0em 2em;
}

.dialog-title {
    padding-left: 0.5em;
}
