.root {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
}
.links {
    flex-grow: 1;
}
.address {
    flex-grow: 2;
}
.buttons {
    display: flex;
}
.add-button {
    padding: 5px;
}
.profile-button {
    padding: 5px;
}
.search-bar {
    padding-right: 100px;
}


